{
  "email": {
    "host":  "",
    "port": "",
    "user": "",
    "pass": "",
    "to": "",
    "enable":true
  },
  "tg": {
    "token": "",
    "chatID":121321324,
    "enable":true
  },
  "nodes": [
    {
      "rpc": "",
      "user": "",
      "pass": "",
      "gap": 30,
      "alert":{
        "maxAllowErrorTimes": 3,
        "maxBlockTime": 600
      },
      "useStateRoot":false
    }
  ]
}